[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]
python_version = "3.6.9"


[packages]
django-heroku = "*"
psycopg2-binary = "*"
gunicorn = "*"
django_currentuser = "*"
dj_database_url = "*"
whitenoise = "*"
requests="*"

[dev-packages]